<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">account_balance</i>
                      </div>
                      <p class="card-category">My Net Worth</p>
                      <h3 class="card-title">1500000
                          <small>Rs</small>
                      </h3>
                  </div>
                  
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">store</i>
                      </div>
                      <p class="card-category">My total Investments</p>
                      <h3 class="card-title">2500000
                        <small>Rs</small></h3>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">info_outline</i>
                      </div>
                      <p class="card-category">My Total Loans</p>
                      <h3 class="card-title">1000000
                        <small>Rs</small>
                      </h3>
                  </div>
                  
              </div>
          </div>
      </div>
      <div class="row investment-rows">
        <mat-card class="investment-card">
            <div mat-card-image class="investment-header-image">
                <img src="/assets/img/investments/mutual_fund.png" class="investment-image">
            </div>
            <mat-card-header>
              <mat-card-title class="investment-title">Indian Stocks</mat-card-title>
              <mat-card-subtitle class="investment-subtitle"><span>&#8377;</span>50000 <img src="/assets/img/investments/up.png" class="investment-status-img"></mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button><i class="material-icons">refresh</i></button>
              <button mat-button><i class="material-icons">add</i></button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="investment-card">
            <div mat-card-image class="investment-header-image">
                <img src="/assets/img/investments/mutual_fund.png" class="investment-image">
            </div>
            <mat-card-header>
              <mat-card-title class="investment-title">Mutual Funds</mat-card-title>
              <mat-card-subtitle class="investment-subtitle"><span>&#8377;</span>50000 <img src="/assets/img/investments/up.png" class="investment-status-img"></mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button><i class="material-icons">refresh</i></button>
              <button mat-button><i class="material-icons">add</i></button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="investment-card">
            <div mat-card-image class="investment-header-image">
                <img src="/assets/img/investments/mutual_fund.png" class="investment-image">
            </div>
            <mat-card-header>
              <mat-card-title class="investment-title">U S Stcoks</mat-card-title>
              <mat-card-subtitle class="investment-subtitle"><span>&#8377;</span>50000 <img src="/assets/img/investments/up.png" class="investment-status-img"></mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button><i class="material-icons">refresh</i></button>
              <button mat-button><i class="material-icons">add</i></button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="investment-card">
            <div mat-card-image class="investment-header-image">
                <img src="/assets/img/investments/mutual_fund.png" class="investment-image">
            </div>
            <mat-card-header>
              <mat-card-title class="investment-title">FD</mat-card-title>
              <mat-card-subtitle class="investment-subtitle"><span>&#8377;</span>50000 <img src="/assets/img/investments/up.png" class="investment-status-img"></mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button><i class="material-icons">refresh</i></button>
              <button mat-button><i class="material-icons">add</i></button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="investment-card">
            <div mat-card-image class="investment-header-image">
                <img src="/assets/img/investments/mutual_fund.png" class="investment-image">
            </div>
            <mat-card-header>
              <mat-card-title class="investment-title">Bonds</mat-card-title>
              <mat-card-subtitle class="investment-subtitle"><span>&#8377;</span>50000 <img src="/assets/img/investments/up.png" class="investment-status-img"></mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button><i class="material-icons">refresh</i></button>
              <button mat-button><i class="material-icons">add</i></button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="investment-card">
            <div mat-card-image class="investment-header-image">
                <img src="/assets/img/investments/mutual_fund.png" class="investment-image">
            </div>
            <mat-card-header>
              <mat-card-title class="investment-title">NPS</mat-card-title>
              <mat-card-subtitle class="investment-subtitle"><span>&#8377;</span>50000 <img src="/assets/img/investments/up.png" class="investment-status-img"></mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button><i class="material-icons">refresh</i></button>
              <button mat-button><i class="material-icons">add</i></button>
            </mat-card-actions>
          </mat-card> 
          <mat-card class="investment-card">
            <div mat-card-image class="investment-header-image">
                <img src="/assets/img/investments/mutual_fund.png" class="investment-image">
            </div>
            <mat-card-header>
              <mat-card-title class="investment-title">EPF</mat-card-title>
              <mat-card-subtitle class="investment-subtitle"><span>&#8377;</span>50000 <img src="/assets/img/investments/up.png" class="investment-status-img"></mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button><i class="material-icons">refresh</i></button>
              <button mat-button><i class="material-icons">add</i></button>
            </mat-card-actions>
          </mat-card> 
          <mat-card class="investment-card">
            <div mat-card-image class="investment-header-image">
                <img src="/assets/img/investments/mutual_fund.png" class="investment-image">
            </div>
            <mat-card-header>
              <mat-card-title class="investment-title">PPF</mat-card-title>
              <mat-card-subtitle class="investment-subtitle"><span>&#8377;</span>50000 <img src="/assets/img/investments/down.png" class="investment-status-img"></mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button><i class="material-icons">refresh</i></button>
              <button mat-button><i class="material-icons">add</i></button>
            </mat-card-actions>
          </mat-card> 
          <mat-card class="investment-card">
            <div mat-card-image class="investment-header-image">
                <img src="/assets/img/investments/mutual_fund.png" class="investment-image">
            </div>
            <mat-card-header>
              <mat-card-title class="investment-title">Others</mat-card-title>
              <mat-card-subtitle class="investment-subtitle"><span>&#8377;</span>50000 <img src="/assets/img/investments/up.png" class="investment-status-img"></mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button><i class="material-icons">refresh</i></button>
              <button mat-button><i class="material-icons">add</i></button>
            </mat-card-actions>
          </mat-card> 
      </div>
  </div>
</div>
