<div class="main-content">
  <div class="container-fluid">
      <div class="row investment-rows">
        <mat-card class="net-asset-card">
          <mat-card-header class="investment-card-text">
            <mat-card-title class="investment-title dashboard-card-text" >MY NET ASSET</mat-card-title>
            <mat-card-subtitle class="investment-subtitle dashboard-card-text"><span>&#8377;</span>500000 <img src="/assets/img/investments/up.png" class="investment-status-img"></mat-card-subtitle>
          </mat-card-header>
          <div class="row investment-rows">
              <mat-card class="dashboard-card investment-card-color">
                <div mat-card-image class="investment-header-image">
                    <img src="/assets/img/investments/mutual_fund.png" class="investment-image">
                </div>
                <mat-card-header class="investment-card-text">
                  <mat-card-title class="investment-title dashboard-card-text">My Total Investment</mat-card-title>
                  <mat-card-subtitle class="investment-subtitle dashboard-card-text" ><span>&#8377;</span>50000 <img src="/assets/img/investments/up.png" class="investment-status-img"></mat-card-subtitle>
                </mat-card-header>
              </mat-card>
              <mat-card class="dashboard-card liability-card-color">
                <div mat-card-image class="investment-header-image">
                    <img src="/assets/img/investments/mutual_fund.png" class="investment-image">
                </div>
                <mat-card-header class="investment-card-text">
                  <mat-card-title class="investment-title dashboard-card-text">My Total Liability</mat-card-title>
                  <mat-card-subtitle class="investment-subtitle dashboard-card-text" ><span>&#8377;</span>50000 <img src="/assets/img/investments/up.png" class="investment-status-img"></mat-card-subtitle>
                </mat-card-header >
              </mat-card>
          </div>
        </mat-card>
      </div>
      <div class="row investment-rows">
        <mat-card class="investment-card">
            <div mat-card-image class="investment-header-image">
                <img src="/assets/img/investments/mutual_fund.png" class="investment-image">
            </div>
            <mat-card-header class="investment-card-text">
              <mat-card-title class="investment-title">Indian Stocks</mat-card-title>
              <mat-card-subtitle class="investment-subtitle"><span>&#8377;</span>50000 <img src="/assets/img/investments/up.png" class="investment-status-img"></mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button><i class="material-icons">refresh</i></button>
              <button mat-button><i class="material-icons">add</i></button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="investment-card">
            <div mat-card-image class="investment-header-image">
                <img src="/assets/img/investments/mutual_fund.png" class="investment-image">
            </div>
            <mat-card-header class="investment-card-text">
              <mat-card-title class="investment-title">Mutual Funds</mat-card-title>
              <mat-card-subtitle class="investment-subtitle"><span>&#8377;</span>50000 <img src="/assets/img/investments/up.png" class="investment-status-img"></mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button><i class="material-icons">refresh</i></button>
              <button mat-button><i class="material-icons">add</i></button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="investment-card">
            <div mat-card-image class="investment-header-image">
                <img src="/assets/img/investments/mutual_fund.png" class="investment-image">
            </div>
            <mat-card-header class="investment-card-text">
              <mat-card-title class="investment-title">U S Stcoks</mat-card-title>
              <mat-card-subtitle class="investment-subtitle"><span>&#8377;</span>50000 <img src="/assets/img/investments/up.png" class="investment-status-img"></mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button><i class="material-icons">refresh</i></button>
              <button mat-button><i class="material-icons">add</i></button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="investment-card">
            <div mat-card-image class="investment-header-image">
                <img src="/assets/img/investments/mutual_fund.png" class="investment-image">
            </div>
            <mat-card-header class="investment-card-text">
              <mat-card-title class="investment-title">FD</mat-card-title>
              <mat-card-subtitle class="investment-subtitle"><span>&#8377;</span>50000 <img src="/assets/img/investments/up.png" class="investment-status-img"></mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button><i class="material-icons">refresh</i></button>
              <button mat-button><i class="material-icons">add</i></button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="investment-card">
            <div mat-card-image class="investment-header-image">
                <img src="/assets/img/investments/mutual_fund.png" class="investment-image">
            </div>
            <mat-card-header class="investment-card-text">
              <mat-card-title class="investment-title">Bonds</mat-card-title>
              <mat-card-subtitle class="investment-subtitle"><span>&#8377;</span>50000 <img src="/assets/img/investments/up.png" class="investment-status-img"></mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button><i class="material-icons">refresh</i></button>
              <button mat-button><i class="material-icons">add</i></button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="investment-card">
            <div mat-card-image class="investment-header-image">
                <img src="/assets/img/investments/mutual_fund.png" class="investment-image">
            </div>
            <mat-card-header class="investment-card-text">
              <mat-card-title class="investment-title">NPS</mat-card-title>
              <mat-card-subtitle class="investment-subtitle"><span>&#8377;</span>50000 <img src="/assets/img/investments/up.png" class="investment-status-img"></mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button><i class="material-icons">refresh</i></button>
              <button mat-button><i class="material-icons">add</i></button>
            </mat-card-actions>
          </mat-card> 
          <mat-card class="investment-card">
            <div mat-card-image class="investment-header-image">
                <img src="/assets/img/investments/mutual_fund.png" class="investment-image">
            </div>
            <mat-card-header class="investment-card-text">
              <mat-card-title class="investment-title">EPF</mat-card-title>
              <mat-card-subtitle class="investment-subtitle"><span>&#8377;</span>50000 <img src="/assets/img/investments/up.png" class="investment-status-img"></mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button><i class="material-icons">refresh</i></button>
              <button mat-button><i class="material-icons">add</i></button>
            </mat-card-actions>
          </mat-card> 
          <mat-card class="investment-card">
            <div mat-card-image class="investment-header-image">
                <img src="/assets/img/investments/mutual_fund.png" class="investment-image">
            </div>
            <mat-card-header class="investment-card-text">
              <mat-card-title class="investment-title">PPF</mat-card-title>
              <mat-card-subtitle class="investment-subtitle"><span>&#8377;</span>50000 <img src="/assets/img/investments/down.png" class="investment-status-img"></mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button><i class="material-icons">refresh</i></button>
              <button mat-button><i class="material-icons">add</i></button>
            </mat-card-actions>
          </mat-card> 
          <mat-card class="investment-card">
            <div mat-card-image class="investment-header-image">
                <img src="/assets/img/investments/mutual_fund.png" class="investment-image">
            </div>
            <mat-card-header class="investment-card-text">
              <mat-card-title class="investment-title">Others</mat-card-title>
              <mat-card-subtitle class="investment-subtitle"><span>&#8377;</span>50000 <img src="/assets/img/investments/up.png" class="investment-status-img"></mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button><i class="material-icons">refresh</i></button>
              <button mat-button><i class="material-icons">add</i></button>
            </mat-card-actions>
          </mat-card> 
      </div>
  </div>
</div>
