.investment-card {
    max-width: 170px;
    margin-left: 1%;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 15%;
  }

  .net-asset-card{
    width: 60%;
    min-width: 250px;
    height: 200px;
    margin-top: 10px;
    border-radius: 2%;
    margin: auto;
    margin-bottom: 8%;
    background: #083859;
  }

.dashboard-card-text{
  color: white;
  font-size: 20px;
}

.dashboard-card{
  width: 40%;
  border-radius:12%;
  margin: auto; 
  margin-top: 6%;
}

.investment-card-color{
  background: #24c23c;
}

.liability-card-color{
  background: #be1111;
}
  
.investment-header-image {
    align-content: center;
    display: flex;
    justify-content: center;
  }

  .investment-image{
    height: 40px;
    width: 40px;
    border-radius: 1px;
    margin: 20px 20px 0px 20px;    
  }

  .investment-title{
    font-size: 15px;
    text-align: center;
  }
  .investment-subtitle{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
  }
  .investment-status-img{
    width: 15px;
    height: 15px;
  }

  .investment-rows{
    margin-left: 2%;
    margin-right: 2%;
    align-content: center;
  }

  .investment-card-text
  {
    justify-content: center;
  }